<div ng-if="!doneToday && appLoaded">

  <div ng-if="!quizDone">
    <h3><timer interval="1000">{{seconds}}</timer></h3>

    <div ng-repeat="question in questions" ng-if="$index === currentQuestion">
      <img src="{{question.image}}" alt=""/>
      <p>{{question.question}}</p>
      <div ng-repeat="answer in question.answers">

        <input type="radio" ng-model="selectedAnswer[$parent.$index]" ng-value="$index">
        {{answer.name}}

      </div>
      <button class="btn btn-default" ng-click="submitAnswer($index)">Next</button>
    </div>
  </div>

  <div ng-if="quizDone">
    <p>
      Thank you for completing quiz<br/>
      Your score is {{score}}<br/>
      Your time is {{time.seconds}} seconds
    </p>
  </div>

</div>

<div ng-if="doneToday">
  <p>You have already completed this quiz today, try again tomorrow</p>
</div>
