<form novalidate>
  <div class="settings">
    <div class="form-group">
      <label for="question">Question</label>
      <input type="text" id="question" class="form-control" placeholder="Type question" ng-model="add.question">
    </div>
    <div class="row answer">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label">Answer</label>
          <input type="text" class="form-control" ng-model="add.answer" name="description" placeholder="Add answer">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <select class="form-control"
                  ng-init="add.isAnswer = selectAnswer[0].value"
                  ng-options="item.value as item.label for item in selectAnswer"
                  ng-model="add.isAnswer"></select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <button class="btn btn-primary" ng-click="addAnswer()">Add</button>
        </div>
      </div>
      <div class="col-sm-12">
        <p ng-repeat="item in answerArray">
          {{$index + 1 + '. ' + item.name + ' ' + item.isAnswer}}
        </p>
      </div>
    </div>
    <button class="btn btn-primary pull-right" ng-click="addQuestion()">Add to firebase</button>
  </div>
</form>
